.product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
}

.product > h4 {
  color: var(--gray-dark);
  font-size: var(--font-size-medium);
  font-weight: 500;
  margin-top: 1rem;
}

.product > p {
  color: var(--dark);
  font-size: var(--font-size-large);
  font-weight: 600;
  margin-top: 0.25rem;
}

.product__content {
  width: 214px;
  height: 254px;
  background-color: var(--gray);
  position: relative;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.product__content > span {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-color);
  color: var(--gray-light);
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.product__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
}