.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--main-color);
}

.header > nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 45px;
  align-items: center;
}

.header > nav > h1 {
  font-size: var(--font-size-xlarge);
  font-weight: 600;
  color: var(--gray-light);
}

.header__dropdown {
  position: fixed;
  top: 0;
  right: 0;
}